﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jQuery")
    @RenderSection("styles", required: false)
</head>
<body >
    @RenderBody()
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", required: false)
<script type="text/javascript">
    moment.locale('en')
</script>
</body>
</html>