﻿@using System.Web.Optimization

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="col-xs-8 col-xs-offset-1" ng-app="furnitureApp">
    
    <base href="~/gui/">
        <div ui-view></div>
    </base>
</div>
<div class="col-xs-1 "></div>
@section scripts{
    @Scripts.Render("~/bundles/gui/common")
}
