﻿<div ng-controller="addFurnitureController as addFurnitureCtrl">

    <div class="row">
        <h3>Добавить мебель в комнату {{addFurnitureCtrl.room}} на {{addFurnitureCtrl.date}}</h3>
    </div>
    <div class="row">
        <div class="col-xs-4">Тип мебели</div>
        <div class="col-xs-4">
            <select ng-model="addFurnitureCtrl.type">
                <option ng-repeat="type in addFurnitureCtrl.types" ng-value="type.Id">{{type.Name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary" ng-click="addFurnitureCtrl.add()">Добавить</button>
    </div>
</div>