﻿<div ng-controller="addRoomController as addRoomCtrl">
    <h1>Добавление комнаты</h1>
    <div class="row">
        <div class="col-xs-4">Имя</div>
        <div class="col-xs-4">
            <input type="text" ng-model="addRoomCtrl.name" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">Дата</div>
        <div class="col-xs-4">
            <input id="room-date-picker" type="text" ng-model="addRoomCtrl.date" />
            <script type="text/javascript">
            jQuery(function() {
                jQuery('#room-date-picker').datetimepicker({ pickTime: false, language: 'en' });

            });
            </script>
        </div>
    </div>

    <div class="row">
            <button class="btn btn-primary" ng-click="addRoomCtrl.add()">Добавить</button>
    </div>
</div>
