﻿<div ng-controller="deleteRoomController as deleteRoomCtrl">
    <div class="row"> Выберите комнату, в которую будет перенесена вся мебель(предлагаются только комнаты уже существуюшие на эту дату)</div>
    <div class="row">
        <select ng-model="deleteRoomCtrl.destinationRoom">
            <option ng-repeat="room in deleteRoomCtrl.rooms" ng-value="room.Name">{{room.Name}}</option>
        </select>
    </div>
    <button class="btn btn-danger" ng-click="deleteRoomCtrl.delete()">Удалить</button>
</div>