﻿<div ng-controller="detailRoomController as detailRoomCtrl">

    <h1>
        {{detailRoomCtrl.room.Name}}
    </h1>
    <a>
        {{detailRoomCtrl.room.Date}}
    </a>
    <h2>Мебель</h2>
    <table class="table table-striped">
        <tr>
            <th>Собственно мебель</th>
            <th>Действия</th>
        </tr>
        <tr ng-repeat="furniture in detailRoomCtrl.room.Furnitures">
            <td>
                {{furniture.TypeName}}
            </td>
            <td>
                <button class="btn btn-danger" ng-click="detailRoomCtrl.deleteFurniture(furniture.Id)">Удалить</button>
            </td>
        </tr>

    </table>

    <button class="btn btn-primary" ui-sref="addFurniture({room:detailRoomCtrl.room.Name,date:detailRoomCtrl.room.Date})">Добавить мебель</button>

</div>