﻿<div ng-controller="roomsController as roomsCtrl">
    <h2>Комнаты</h2>
    <h3>на дату: <input id="rooms-date-picker" type="text" ng-model="roomsCtrl.date" ng-change="roomsCtrl.filter()"/>
        <script type="text/javascript">
            jQuery(function() {
                jQuery('#rooms-date-picker').datetimepicker({ pickTime: false, language: 'en' });

            });
        </script>
    </h3>
    <table class="table table-striped">
        <tr>
            <th>Имя комнаты</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        <tr ng-repeat="room in roomsCtrl.rooms">
            <td>
                {{room.Name}}
            </td>
            <td>
                {{room.Date}}
            </td>
            <td>
                <button class="btn btn-info" ui-sref="roomDetails({name:room.Name,date:room.Date})">Детали</button>
                <button class="btn btn-danger" ui-sref="deleteRoom({room:room.Name,date:room.Date})">Удалить</button>
            </td>
        </tr>

    </table>
    <button class="btn btn-primary" ui-sref="addRoom()">Добавить</button>

</div>